.body{
background-color:#f40424;

}

.header-cont{
  width: 1200px;
  margin: 0 auto;

}
.besides{
  float:right;
}

.besides h1{
  color:blue;
}

.header-cont img{
  float: left;
  margin-top: 11px; 
  width: 100px ;

 }


.content{
  width: 900px;
  background-color: #fff;
  margin: 0 auto;
  min-height: 900px;
  padding: 60px;
  overflow: auto;

}


.content .son{
  float: left;
  margin-right: 40px;
  margin-bottom: 40px;
}


.content h1{
  margin: 0 0 14px 0;
  padding: 0;
}

.content p{
  font-size: 18px;
  line-height: 1.5em;
  text-align: justify;
  font-family: arial;
}

.content .thumb{
  float:left;
}

.footer{
  background-color: red;
  width: none;
  min-height: 5px;
  text-align: center;
  font-size: 16px;
  color: #444;
  padding-top: 20px;
  padding-bottom: 20px;
}










